.dis {
    display: flex;
    justify-content: space-around;
}

.dis svg {
    font-size: 5em;
    margin: 0 40px;
}


.name {
    font-size: 100px;
    margin-bottom: 40px;
    color: plum;
}

.res {
    margin-top: 40px;
}